.search-box {
    padding: 9px;
    border-radius: 2px;
}

.icon {
    margin-right:10px;
}

.small-pic {
    border: 2px solid #f5f5f5;
    width: 200px;
    height:auto;
}

.med-pic {
    border: 2px solid #f5f5f5;
    width: 350px;
    height: auto;
}

.log-button {
    position: relative;
    top: 4px;
}

.post-title:hover {
    text-decoration: none;
}


.map-img {
    margin: auto;
    display: flex;
    border: 1px solid #333;
}

.cycle {
    margin-bottom: 100px;
}

.step {
    border: 2px solid #f5f5f5;
    min-height: 280px;
}

.step-icon {
    vertical-align: bottom;
    color: #427EDC;
}

.check-icon {
    vertical-align: -165%;
    color: #75B53D;
}