<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>About</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous"/>
</head>
<body>

    <!-- Updated nav bar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fa fa-gift fa-lg"></i>  Give Greenville</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/ask">Want to Ask?<span class="sr-only">(current)</span></a></li>
                    <li><a href="/give">Want to Give?</a></li>
                    <li><a href="/flash">Give Today</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:if="${user != null}" th:text="${'@' + user.getUsername()}" href="/myPosts"></a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li>
                        <form class="pull-right" action="/logout" method="POST">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button th:if="${user != null}" class="btn btn-default" type="submit" value="LOGOUT">LOGOUT</button>
                            <a th:if="${user == null}" class="btn btn-default" href="/login">LOGIN</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center">

        <h1>What is Give Greenville?</h1>
        <p>
            Give Greenville is a community in Greenville, SC where you are free to give anything your heart desires and
            also ask freely for gifts from others without the exchange of money, exchanging items, or bartering! It's
            like the olden days when you went next door for a cup of sugar, just to a wider audience! It's an opportunity
            to give what you have and receive to keep items from the landfill! This is about the cycle of stuff and
            building a community of sharing.
        </p>

        <hr/>

        <h1>Community Rules</h1>
        <p>
            We ask that you do not sell anything, do not promote your business
            (this includes not mentioning a business name), ask for money, no giving of live animals, and we will not
            deal with Firearms, Alcohol, Tobacco, or anything illegal. We only ask that you please be transparent with
            the giver if you are planning on re-selling their items prior to being selected. If you are not and we find
            you are re-selling, you will be removed from the group without warning. Please post your gift with one
            picture (this is required and additional ones can go in comments), a description, and your location so
            others know if they are willing to drive to you for the give. The giver can choose whoever they want to
            give to, make it fun! It's not first come first served. Please make all requests within the give posts and
            leave private messages for giving addresses only! PMs outside of this will get you banned from the group.
            This group is not for recommendations, job searches, or for finding housing. Also, please do not delete your
            posts! Leave them up and let us all see how much we are giving and building our community! Prior to your
            request being accepted, you must answer all three questions correctly and please be aware that #2 requires
            2 answers. Happy Giving and please invite your friends and neighbors!
        </p>
        <br/>
        <h1>#GiveRules</h1>
    </div>
</body>
</html>